{% extends 'base.html' %}

{% block title %}Panel{% endblock %}

{% block content %}
<h1>Panel</h1>
<form class="form-container" method="post">
    {% csrf_token %}
    <label for="name">Název panelu</label>
    <input type="text" name="name" id="name" placeholder="Název panelu"><br>

    <label for="UocMOD_volt">Napětí FV modulu naprázdno</label>
    <input type="number" step="0.001" name="UocMOD_volt" id="UocMOD_volt" placeholder="UocMOD V"><br>

    <label for="TMOD_percent">Teplotní koeficient modulu</label>
    <input type="number" step="0.001" name="TMOD_percent" id="TMOD_percent" placeholder="TMOD %"><br>

    <label for="UmmpMOD_volt">Napětí FV modulu při max výkonu</label>
    <input type="number" step="0.001" name="UmmpMOD_volt" id="UmmpMOD_volt" placeholder="UmmpMOD %"><br>

    <label for="TMOD_pMax_percent">Teplotní koeficient modulu Pmax</label>
    <input type="number" step="0.001" name="TMOD_pMax_percent" id="TMOD_pMax_percent" placeholder="TMOD Pmax %"><br>

    <label for="ISC_amper">Proud nakrátko</label>
    <input type="number" step="0.001" name="ISC_amper" id="ISC_amper" placeholder="ISC A"><br>

    <label for="TMOD_short_percent">Teplotní koeficient proudu nakrátko</label>
    <input type="number" step="0.001" name="TMOD_short_percent" id="TMOD_short_percent" placeholder="TMOD nakrátko %"><br><br>

    <button type="submit">Uložit</button>
</form>

{% endblock %}