{% extends 'base.html' %}

{% block title %}Invertor{% endblock %}

{% block content %}
    <h1>Střídač</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Název střídače</label>
        <input type="text" id="name" name="name" placeholder="Název"><br>
        <label for="opt_input_voltage">Optimální napětí na vstupu střídače</label>
        <input type="number" id="opt_input_voltage" name="opt_input_voltage" placeholder="Optimální napětí V"><br>
        <label for="max_input_voltage">Maximální napětí na vstupu střídače</label>
        <input type="number" id="max_input_voltage" name="max_input_voltage" placeholder="Maximální napětí V"><br>
        <label for="min_input_voltage">Minimální napětí na vstupu střídače</label>
        <input type="number" id="min_input_voltage" name="min_input_voltage" placeholder="Minimální napětí V"><br>
        <label for="max_mppt_count">Maximální počet mpp trackerů</label>
        <input type="number" id="max_mppt_count" name="max_mppt_count" placeholder="Maximální počet mpp trackerů"><br><br>
        <input type="submit" value="Uložit">
    </form>

{% endblock %}