{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FVE kalkulačka{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_styles %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="{%  url 'home' %}">Home</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                {% if user.is_authenticated %}
                    <li class="logout"><a href="{% url 'logout' %}">Log out</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Eva je nejlepší. All rights reserved.</p>
    </footer>
</body>
</html>