{%  extends 'base.html' %}

{% block title %}Panels{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'js/inverter_panel.js' %}"></script>
{% endblock %}

{% block content %}
        {% for panel in panels %}
            <div class="list-tile" onclick="toggleDetails({{ panel.id }})">
                <div class="list-tile-header">
                    <h3>{{ panel.name }}</h3>
                </div>
            <div id="details-{{ panel.id }}" class="list-tile-details" style="display: none">
                <p>UocMOD: {{ panel.uoc_mod_volt }} V</p>
                <p>TMOD: {{ panel.tmod_percent }} %</p>
                <p>UmmpMOD: {{ panel.ummp_mod_volt }} V</p>
                <p>TMOD Pmax: {{ panel.tmod_p_max_percent }} %</p>
                <p>ISC: {{ panel.isc_amper }} A</p>
                <p>TMOD short: {{ panel.tmod_short_percent }} %</p>
                <div class="button-container">
                    <a href="{% url 'edit_panel' panel.id %}" class="button">Upravit</a>
                    <form method="post" action="{% url 'delete_panel' panel.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Smazat" class="button" style="display:inline;" onclick="return confirm
                                ('Opravdu smazat panel {{ panel.name }}?')">
                    </form>
                </div>
            </div>
            </div>
        {% endfor %}
{% endblock %}
