{% extends 'base.html' %}

{% block title %}Profil{% endblock %}

{% block content %}
    {% if engineers %}
        <h2>Engineers</h2>
        {% for engineer in engineers %}
            <div class="list-tile">
                <a href="{% url 'engineer_project' engineer.id %}">{{ engineer.first_name }} {{ engineer.last_name }}</a>
            </div>
        {% endfor %}
        
    {% else %}
        <h2>Projects</h2>
        {% for project in projects %}
                <div class="list-tile">
                    <a href="{% url 'solutions' project.id %}">{{ project.project_name }}</a>
                </div>
        {% endfor %}
    {% endif %}
{% endblock %}