{% extends 'base.html' %}

{% block title %}Profil{% endblock %}

{% block content %}
    {% if engineers %}
        <h2>Engineers</h2>
        {% for engineer in engineers %}
            <li>
                <a href="{% url 'engineer_project' engineer.id %}">{{ engineer.first_name }} {{ engineer.last_name }}</a>
            </li>
        {% endfor %}
    {% else %}
        <h2>Projects</h2>
        {% for project in projects %}
        <li>
            <a href="{% url 'solutions' solution.id %}">{{ project.project_name }}</a>
        </li>
        {% endfor %}
    {% endif %}
{% endblock %}