{%  extends 'base.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
<script src="{% static 'js/register.js' %}"></script>

{% block title %}Register{% endblock %}

{% block content %}
<h2>Register</h2>

<form method="post" class="form-container">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="button-container">
        <button type="submit" class="button">Zaregistrovat</button>
    </div>
</form>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}